---
layout: default
css-include: /css/main.css
css-include: /css/home.css
sorted: 1
---

<section id="kHeader" class="carousel">
    <div class="carousel-item active">
        <div class="carousel-item-content pl-4 pr-4">
            <div class="slide-background" style="background-image: url(/assets/img/screenshot.png)"></div>
            <div class="carousel-text-overlay">
                <h1>{{ site.title }}</h1>
                <p>{{ site.description }}</p>
            </div>
        </div>
    </div>
</section>

<main aria-label="Content" style="margin-right: none;" id="content" class="container">
    <h1>{{ site.title }} - {{ site.description }}</h1>
    <p style="max-width:none;"><b>Elisa</b>  is a music player developed by the KDE community that strives to be simple and nice to use. We also recognize that we need a flexible product to account for the different workflows and use-cases of our users. We focus on a very good integration with the Plasma desktop of the KDE community without compromising the support for other platforms (other Linux desktop environments, Windows and Android). We are creating a reliable product that is a joy to use and respects our users privacy. As such, we will prefer to support online services where users are in control of their data.</p>
    
    <h1>Features</h1>

    <div class="block">
        <div class="kAppInfo">
            <div class="kAppInfo-content">
                <h2>Browse music by album, artist or tracks</h2>
                <p style="max-width:900px;">
                Elisa automatically looks in your music folder for music files, the icons are all pulled out of your folder.The left column has various viewing options: Now Playing, Albums, Artists, and Tracks.
                </p>
            </div>
            <img src="/assets/img/backends.gif" class="preview">
        </div>
    </div>
    
    <!-- <div class="block">
        <div class="kAppInfo">
            <div class="kAppInfo-content">
                <h2>Working search</h2>
                <p style="max-width:900px;">Elisa allows you to run commands from your favorite mathematical programming language assisted by syntax highlighting and tab-completion for functions, reserved words and variables. See the output of your work directly inside the worksheet or export to PDF, LaTeX, plain-text, and Jupyter notebooks!</p>
            </div>
            <img src="/assets/img/processing.gif" class="preview">
        </div>
    </div> -->
    
    <div class="block">
        <div class="kAppInfo">
            <div class="kAppInfo-content">
                <h2>Create and manage playlists</h2>
                <p style="max-width:900px;">Create and manage all your playlists from the built-in side panel.</p>
            </div>
            <img src="/assets/img/variables.gif" class="preview">
        </div>
    </div>
    
    <div class="block">
        <div class="kAppInfo">
            <div class="kAppInfo-content">
                <h2>View track metadata</h2>
                <p style="max-width:900px;">Elisa allows you to view track metadata from the currently playing track like the composer, lyricist, play count, lyrics and so much more.</p>
            </div>
            <img src="/assets/img/plotting.gif" width="498" heigth="298" class="preview">
        </div>
    </div>
    
    <div class="block">
        <div class="kAppInfo">
            <div class="kAppInfo-content">
                <h2>Baloo indexing support</h2>
                <p style="max-width:900px;">Elisa comes with baloo indexing support which focuses on providing a very small memory footprint along with with extremely fast searching.</p>
            </div>
            <img src="/assets/img/rendering.gif" class="preview">
        </div>
    </div>
    
    <div class="block">
        <div class="kAppInfo">
            <div class="kAppInfo-content">
                <h2>And more!</h2>
                <ul>
                    <li>Easy plugin based structure to add different backends</li>
                    <li>Integration to retrieve and share worksheets</li>
                    <li>Plugin based assistant dialogs for common tasks (like integrating a function or entering a matrix)</li>
                    <li>Integration of the environment's help in the user interface</li>
                    <li>Script editor for work with large-scale code</li>
                    <li>...</li>
                </ul>
            </div>
            <img src="/assets/img/help.gif" class="preview">
        </div>
    </div>
</main>